html{
	height: 100%;
}

body {
  overflow-y:hidden;
  height: 100%;
  color: white;
}

hr{
	border-color: gray;
}

#hero{
	background-image: url(https://s.abcnews.com/images/Politics/gty_state_of_union_jc_160930_16x9_992.jpg);
	background-size: 100%;
	box-shadow: 0 3000px rgba(10, 30, 45, 0.75) inset;
}

#banner{
	margin-top: 200px;
	text-align: center;
}